@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  overflow-x: hidden;
}


a{
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

a:hover{
  opacity: 0.7;
}

.logo{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}

nav{
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 8vh;
}

.apresentacao {
  height: 97vh;
background: rgb(2,0,36);
background: linear-gradient(20deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.nav__list{
  list-style: none;
  display: flex;
  font-weight: 500;
}

.nav__list li{
  letter-spacing: 3px;
  margin-left: 2rem;
}
.content {
  padding: 170px;
}

.content .texBox{
  position: relative;
  max-width: 600px;
}

.content .texBox h1{
  color: rgba(4, 243, 211, 0.911);
  font-size: 3rem;
  font-weight: 500;
}
.content .texBox h1 span{
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 10px;
  color:rgb(255, 255, 255);
}

.content .texBox a{
  display: inline-block ;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017474;
  border-radius: 20px;
  letter-spacing: 2px;
}

p{
  color: #01c4c4d7;
}